/* Angular Material Theme */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f9fa;
}

html, body { height: 100%; }
body { margin: 0; }
